# Chat Analysis

### Import libraries

In [1]:
import pandas as pd
import numpy as np
import re

import emoji

### Some functions

In [2]:
def startsWithDateTime(s):
    pattern = '^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)(\d{2}|\d{4}), ([0-9])|([0-9]):([0-9][0-9]) '
    result = re.match(pattern, s)
    if result:
        return True
    return False

In [3]:
# def startsWithAuthor(s):
#     patterns = [
#         '([\w()\[\]-]+:)'#'([\w]+):',                        # First Name
#         '([\w]+[\s]+([\w()\[\]-]+)):',              # First Name + Last Name
#         '([\w]+[\s]+[\w]+[\s]+([\w()\[\]-]+)):',    # First Name + Middle Name + Last Name
#         '([+]\d{2} \d{5} \d{5}):',         # Mobile Number (India)
#         '([+]\d{2} \d{3} \d{3} \d{4}):',   # Mobile Number (US)
#         '([+]\d{2} \d{4} \d{7})'           # Mobile Number (Europe)
#     ]
#     pattern = '^' + '|'.join(patterns)
#     result = re.match(pattern, s)
#     if result:
#         return True
#     return False
def startsWithAuthor(s):
    """
        This function is used to verify the string(s) contains 'Author' or not with the help of regular expressions.
        
        Parameters:
            s: String
        
        Returns:
            True if it contains author name otherwise False
    """
    
    pattern = '^([\w()\[\]-]+):|([\w]+[\s]+([\w()\[\]-]+)):'
    result = re.match(pattern, s)
    if result:
        return True
    return False

In [4]:
def getDataPoint(line):
    """
        Use to extract the date, time, author and message from line.
        
        Parameters: 
            line (from txt file)
        
        Returns:
            date, time, author, message        
    """
    splitLine = line.split(' - ') # splitLine = ['18/06/17, 22:47', 'Loki: Why do you have 2 numbers, Banner?']
    
    dateTime = splitLine[0] # dateTime = '18/06/17, 22:47'
    
    date, time = dateTime.split(', ') # date = '18/06/17'; time = '22:47'
    
    message = ' '.join(splitLine[1:]) # message = 'Loki: Why do you have 2 numbers, Banner?'
    
    if startsWithAuthor(message): # True
        splitMessage = message.split(': ') # splitMessage = ['Loki', 'Why do you have 2 numbers, Banner?']
        author = splitMessage[0] # author = 'Loki'
        message = ' '.join(splitMessage[1:]) # message = 'Why do you have 2 numbers, Banner?'
    else:
        author = None
    return date, time, author, message

In [5]:
def read_data(file_contents):
    """
        This function is use to return the extracted data from txt file.
        
        Parameters:
            file_contents -> line by line contents from txt chat file
            
        Returns:
            data -> list of list having elements as date, time, author and message by the user.
    """
    
    data = [] # List to keep track of data so it can be used by a Pandas dataframe
    
    messageData = [] # to capture intermediate output for multi-line messages
    date, time, author = None, None, None # Intermediate variables to keep track of the current message being processed
    
    for line in file_contents:
        line = line.strip() # Guarding against erroneous leading and trailing whitespaces

        if startsWithDateTime(line): # If a line starts with a Date Time pattern, then this indicates the beginning of a new message
            if len(messageData) > 0: # Check if the message buffer contains characters from previous iterations
                data.append([date, time, author, ' '.join(messageData)]) # Save the tokens from the previous message in data
            messageData.clear() # Clear the messageData so that it can be used for the next message
            date, time, author, message = getDataPoint(line) # Identify and extract tokens from the line
            messageData.append(message) # Append message
        else:
            messageData.append(line) # If a line doesn't start with a Date Time pattern, then it is part of a multi-line message. So, just append to messageData
    return data

In [6]:
def return_df(filename):
    """
        This function reads the txt file of chat and return in dataframe format having columns Date, Time, Author and Message.
    """
    with open(filename, encoding="utf-8") as f:
        file_contents = [x.rstrip() for x in f]
    
    return pd.DataFrame(read_data(file_contents), columns=['Date', 'Time', 'Author', 'Message'])

## Analysis Begin

In [7]:
filename="WhatsApp Chat with Quarantine timeðŸ“±ðŸ“±.txt"
data = return_df(filename)
data.head()

       Date     Time Author                                            Message
0  14/03/19  9:05 am   None  Messages and calls are end-to-end encrypted. N...
1  14/03/19  9:05 am   None                   You created group "For some new"
2  14/03/19  9:06 am   Prem  https://www.theverge.com/2019/3/13/18264092/fa...
3  14/03/19  9:07 am   Prem  https://www.cnet.com/news/cant-update-status-f...
4  14/03/19  9:09 am   None                         You added Soumyajit(Iiitg)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5283 entries, 0 to 5282
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     5283 non-null   object
 1   Time     5283 non-null   object
 2   Author   5212 non-null   object
 3   Message  5283 non-null   object
dtypes: object(4)
memory usage: 165.2+ KB

In [9]:
data['Author'].value_counts(dropna=False)

Prem                   1416
Raj Ranjan(Iiitg)       701
Sayan(Iiitg)            694
Sameer(Iiitg)           605
Puneet(Iiitg)           497
Rakesh(Iiitg)           385
Nishant(Iiitg)          324
Naman Gera(Iiitg)       271
Yash Kothari(Iiitg)     104
Soumyajit(Iiitg)         98
Prateek(Iiitg)           85
NaN                      71
Tushar(Iiitg)            24
Roshan(Iiitg)             8
Name: Author, dtype: int64

In [10]:
data[data['Author'].isnull()][0:30]

,Date,Time,Author,Message
0,14/03/19,9:05 am,None,Messages and calls are end-to-end encrypted. N...
1,14/03/19,9:05 am,None,"You created group ""For some new"""
4,14/03/19,9:09 am,None,You added Soumyajit(Iiitg)
52,02/04/19,4:11 pm,None,You added Puneet(Iiitg)
53,02/04/19,4:16 pm,None,Prateek(Iiitg) joined using this group's invit...
54,02/04/19,7:13 pm,None,Prateek(Iiitg) left
61,07/04/19,8:24 pm,None,Raj Ranjan(Iiitg) added Yash Kothari(Iiitg)
69,09/04/19,8:03 pm,None,Puneet(Iiitg) left
95,15/04/19,1:32 pm,None,Rakesh(Iiitg) changed this group's icon
96,15/04/19,1:41 pm,None,"Soumyajit(Iiitg) changed the subject from ""For..."
97,15/04/19,1:52 pm,None,"Soumyajit(Iiitg) changed the subject from ""Say..."
181,08/05/19,8:14 am,None,"You changed the subject from ""."" to ""New journey"""
216,17/05/19,4:55 pm,None,Rakesh(Iiitg) changed this group's icon
247,07/06/19,7:28 am,None,Rakesh(Iiitg) changed this group's icon
273,25/06/19,7:05 am,None,You changed this group's icon
277,27/06/19,8:06 pm,None,Rakesh(Iiitg) left
293,15/07/19,10:29 pm,None,Rakesh(Iiitg) joined using your invite
407,11/08/19,1:08 pm,None,Raj Ranjan(Iiitg) added Naman Gera(Iiitg) and ...
437,11/08/19,1:46 pm,None,Rakesh(Iiitg) changed this group's icon
446,11/08/19,10:06 pm,None,Naman Gera(Iiitg) left
460,16/08/19,9:36 pm,None,You changed this group's settings to allow onl...
466,16/08/19,10:59 pm,None,You changed this group's settings to allow all...
488,17/08/19,11:39 pm,None,Raj Ranjan(Iiitg) added Naman Gera(Iiitg)
525,21/08/19,6:46 pm,None,You added Sameer(Iiitg)
539,24/08/19,11:17 pm,None,Puneet(Iiitg) left
562,02/09/19,11:14 am,None,You added Prateek(Iiitg)
581,04/09/19,8:15 pm,None,Rakesh(Iiitg) left
582,04/09/19,8:16 pm,None,Raj Ranjan(Iiitg) added Rakesh(Iiitg)
762,11/09/19,6:34 pm,None,You changed this group's settings to allow onl...
859,24/09/19,11:48 am,None,You changed this group's settings to allow onl...

### Functions for analysis:

In [11]:
def authors_name(data):
    """
        It returns the name of participants in chat. 
    """
    authors = data.Author.unique().tolist()
    return [name for name in authors if name != None]

In [12]:
# Number of members in chat
len(authors_name(data))

13

In [13]:
def extract_emojis(s):
    """
        This function is used to calculate emojis in text and return in a list.
    """
    return [c for c in s if c in emoji.UNICODE_EMOJI]

data['emoji'] = data["Message"].apply(extract_emojis)

In [14]:
def stats(data):
    """
        This function takes input as data and return number of messages and total emojis used in chat.
    """
    total_messages = data.shape[0]
    media_messages = data[data['Message'] == '<Media omitted>'].shape[0]
    emojis = sum(data['emoji'].str.len())
    
    print("Total Messages ðŸ’¬: {} \nMedia ðŸŽ¬: {} \nEmojis ðŸ˜‚: {}".format(total_messages, media_messages, emojis))
    return

In [15]:
stats(data)

Total Messages ðŸ’¬: 5283
Media ðŸŽ¬: 798
Emojis ðŸ˜‚: 4902